<h1>Frequently Asked Questions</h1>
<h2>Q: Is there a free version?</h2>
<p>
    <b>A:</b> Yes! We offer a free trial for 30 days
</p>
<h2>Q: What are your support hours?</h2>
<p><b>A:</b> 24/7 email support, slower on weekends</p>
<h2>Q: How do Io contact support?</h2>
<p><b>A:</b> email <a href="mailto:support@email.com">support@email.com</a></p>
